<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Biotter</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      function button_click() {
        var form = document.getElementById("search_form");
        var uesr_name = document.getElementById("user_name_input");
        form.action = "/" + uesr_name.value;
      }
      form.submit();
    </script>
  </head>
  <body>
    <h1>Biotter</h1>
    <p>Bio + bot + twitter = Biotter (なんじゃそりゃ)</p>
    <p>ツイッターのプロフィール(bio)の履歴が見れます</p>
    <form id="search_form" action="/" method="get">
      <input id="user_name_input" type="text" placeholder="id入れてね">
      <input id="search_button" type="submit" value="検索" onclick="button_click();">
    </form>
    <br>
    <p><a href="https://twitter.com/_Biotter_">Bot</a> でプロフィールを集めています. フォローしてね〜<br>(フォローしてくれないとプロフィール集められません)</p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
