<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Biotter</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
      function button_click() {
        var form_element = document.getElementById("search_form");
        var user_screen_name_element = document.getElementById("user_screen_name");
        form_element.action = user_screen_name_element.value;
        form_element.submit();
      }
    </script>
    <meta name="twitter:card" content="summary"/>
    <meta property="og:url" content="http://biotter.tetetratra.net"/>
    <meta property="og:title" content="Biotter"/>
    <meta property="og:description" content="プロフィール履歴を残せます"/>
    <meta property="og:image" content="http://biotter.tetetratra.net/biotter.png"/>
  </head>
  <body>

    <%= erb :'header' %>
    <br><br><br><br><br>

    <%= erb :'main_contents', locals: {profiles: @all_profiles, title: '最近の更新'} %>

    <footer class="bd-footer text-muted">
      <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
          <li>Biotterとは
            <ul>
              <li>
                Bio + bot + twitter = Biotter (なんじゃそりゃ)
              </li>
              <li>
                ツイッターのプロフィール(bio)の履歴が見れます
              </li>
              <li>
                <a href="https://twitter.com/_Biotter_">@_Biotter_</a>
                でプロフィールを集めています. フォローしてね (フォローしてくれないとプロフィール集められません)
              </li>
              <li>作者サイト:
                <a href="http://tetetratra.net">tetetratra.net</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
