<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= @not_found_user_name %>さんはいません...</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      function button_click() {
        var form = document.getElementById("search_form");
        var uesr_name = document.getElementById("user_name_input");
        form.action = "/biotter/" + uesr_name.value;
        form.submit();
      }
    </script>
  </head>
  <body>
    <h1>Biotter</h1>
    <form id="search_form" action="/" method="get">
      <input id="user_name_input" type="text" placeholder="id入れてね">
      <input id="search_button" type="submit" value="検索" onclick="button_click();">
    </form>
    <br>
    <%= @not_found_user_name %>さんはいません...
    <br>
    <a href="/biotter" role="button">ホームへ...</a>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
